{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <link rel="stylesheet" type="text/css" href="{% static 'tracker/css/styles.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-s...." crossorigin="anonymous" />

</head>
<body>
    <div class="background-image">
        <nav class="navbar">
            <div class="nav-logo">
                <i class="fa-solid fa-users-rectangle"></i>
            </div>
            <ul class="nav-links">
                <li><a href="#">Home</a></li>
                <li><a href="/upload_timetable/">Upload Timetable</a></li>
                <li><a href="#">Show Timetable</a></li>
                <li><a href="#">Stats</a></li>
            </ul>
            <div class="account-section">
                <a href="#">Account</a>
            </div>
        </nav>
    </div>

    <!-- main body -->

</body>
</html>
