<!-- upload_timetable.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload Timetable</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    <script src=""></script>
</head>
<body>
    <h1>Upload Timetable</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="file" name="excel_file" accept=".xlsx">
        <button type="submit">Upload</button>
    </form>
    
    {% if timetable_entries %}
    <h2>Uploaded Timetable</h2>
    <table border="1">
        <thead>
            <tr>
                <th>Activity</th>
                <th>Start Time</th>
                <th>End Time</th>
                <th>Total Time</th>
            </tr>
        </thead>
        <tbody>
            {% for entry in timetable_entries %}
            <tr>
                <td>{{ entry.activity }}</td>
                <td>{{ entry.start_time }}</td>
                <td>{{ entry.end_time }}</td>
                <td>{{ entry.total_time }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}
    
    {% if error_message %}
    <p>{{ error_message }}</p>
    {% endif %}
<!-- show timer -->

<h1>Timer</h1>
<button id="start-timer-btn">Start Timer</button>
<div id="timer-box">
    <h2 id="activity-name"></h2>
    <div id="timer"></div>
</div>

</body>
</html>
